.contato {
  background: #141414;
  color: #ffffff;
  padding: 5.5rem 0px;
  position: relative;
}
.contato-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  max-width: 1200px;
  gap: 11rem;
  padding: 20px;
  position: relative;
}
.contato-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -130px;
  left: 20px;
}
.contato-subtitulo {
  color: #000000;
  max-width: 3ch;
  font-size: 144px;
  font-weight: 700;
  line-height: 144px;
  text-transform: uppercase;
  word-break: break-all;
}
.contato-formulario {
  background: var(--cor-1);
  padding: 40px;
  z-index: 1;
}
.contato-abaixo {
  display: none;
}
.contato-descricao {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 40px;
}
.contato-aprendizado {
  max-width: 560px;
  color: #a3a3a3;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.contato-formacoes {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 5px;
  position: relative;
}

.contato-formacoes-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 170px));
  grid-template-rows: auto 1fr auto;
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  gap: 20px;
}

.contato-formacoes-item::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.contato-formacoes-item span {
  color: #fff;
  display: grid;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 40px;
}
.contato-formacoes-item p {
  font-size: 1.125rem;
  color: #a3a3a3;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 400px;
}
.extra {
  display: grid;
  gap: 60px;
  position: relative;
}

.cursos-e-idiomas {
  display: grid;
  gap: 1rem;
}
.cursos-e-idiomas a {
  color: #a3a3a3;
}
.cursos-idiomas a:hover {
  color: #67dd0a;
}
.cursos p,
span {
  font-size: 1.125rem;
  color: #a3a3a3;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 400px;
}
.cursos {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.cursos a {
  color: #fff;
}
.cursos a:hover {
  color: #b6f829;
}

#repo::before {
  background-image: url(../img/cursos.svg);
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
  top: 0px;
}
#idioma::before {
  background-image: url(../img/idiomas.svg);
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: relative;
  left: -30px;
  top: 20px;
}

.idiomas {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.idiomas p,
span {
  font-size: 1.125rem;
  color: #a3a3a3;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 400px;
}

.idiomas a:hover {
  color: #b6f829;
}

@media (max-width: 1000px) {
  .contato-container {
    grid-template-columns: 1fr;
    gap: 0px 0px;
  }
  .contato-subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    color: white;
    word-break: normal;
  }
  .contato-aprendizado {
    font-size: 1.25rem;
  }
  .contato-formacoes {
    justify-content: center;
  }
  .cursos-e-idiomas {
    gap: 20px;
  }
  .cursos-e-idiomas {
    display: grid;
    position: initial;
    margin-bottom: 10px;
  }
  #repo::before {
    left: 250px;
    top: 0px;
  }
  #idioma::before {
    left: 80px;
    top: 22px;
  }
}

@media (max-width: 500px) {
  .contato-subtitulo {
    width: 1rem;
  }
  .contato {
    padding: 0px;
  }
  .contato-container::after {
    content: "";
    display: block;
    width: 120px;
    height: 50px;
    background: url("../img/detalhe.svg") no-repeat center;
    position: absolute;
    bottom: -35px;
    left: 150px;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 62px;
}

.form label {
  text-align: start;
  grid-column: auto;
  display: block;
  font: 600 1.6rem/1.5 "Poppins", sans-serif;
  margin-bottom: 15px;
}

.col-2 {
  grid-column: span 2;
}

.form label {
  font-size: 16px;
  font-family: "Poppins";
  color: var(--azul-escuro);
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--background);
  border: 1px solid var(--cor-2);
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;

  border-color: var(--cor-azul-escuro);
  background: var(--cor-0);
}

@media (max-width: 600px) {
  .contato-formulario {
    background-color: var(--cor-0);

    margin-bottom: 80px;
    padding: 30px;
    padding-bottom: 60px;
    width: 280px;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .form label {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .form button {
    margin-top: -50px;

    padding: 10px 20px;
    font-size: 14px;
  }

  .col-2 {
    grid-column: 1;
  }
}

@media (max-width: 400px) {
  .contato-formulario {
    max-width: auto;
    /* width: 220px; */
  }
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 62px;
}

.form label {
  text-align: start;
  grid-column: auto;
  display: block;
  font: 600 1.6rem/1.5 "Poppins", sans-serif;
  margin-bottom: 15px;
}

.col-2 {
  grid-column: span 2;
}

.form label {
  font-size: 16px;
  font-family: "Poppins";
  color: var(--azul-escuro);
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--background);
  border: 1px solid var(--cor-2);
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;

  border-color: var(--cor-azul-escuro);
  background: var(--cor-0);
}

@media (max-width: 600px) {
  .contato-formulario {
    background-color: var(--cor-0);

    margin-bottom: 80px;
    padding: 30px;
    padding-bottom: 60px;
    width: 280px;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .form label {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .form button {
    margin-top: -50px;

    padding: 10px 20px;
    font-size: 14px;
  }

  .col-2 {
    grid-column: 1;
  }
}

@media (max-width: 400px) {
  .contato-formulario {
    max-width: auto;
    /* width: 220px; */
  }
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 62px;
}

.form label {
  text-align: start;
  grid-column: auto;
  display: block;
  font: 600 1.6rem/1.5 "Poppins", sans-serif;
  margin-bottom: 15px;
}

.col-2 {
  grid-column: span 2;
}

.form label {
  font-size: 16px;
  font-family: "Poppins";
  color: var(--azul-escuro);
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--background);
  border: 1px solid var(--cor-2);
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;

  border-color: var(--cor-azul-escuro);
  background: var(--cor-0);
}

@media (max-width: 600px) {
  .contato-formulario {
    background-color: var(--cor-0);

    margin-bottom: 80px;
    padding: 30px;
    padding-bottom: 60px;
    width: 280px;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .form label {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .form button {
    margin-top: -50px;

    padding: 10px 20px;
    font-size: 14px;
  }

  .col-2 {
    grid-column: 1;
  }
}
.botao-enviar {
  background: rgb(108, 165, 24);
  color: var(--cor-0);
  padding: 12px 24px;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 400px) {
  .contato-formulario {
    max-width: auto;
    /* width: 220px; */
  }
}
