.footer {
  display: grid;
  background-color: black;
}
.footer-container {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  padding: 120px 20px 60px 20px;
  gap: 100px;
  align-items: center;
}
.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}
.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
}

.footer-contato a:hover {
  color: gainsboro;
}

#linkedin:hover {
  color: blue;
}
@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .footer-texto {
    font-size: 24px;
    gap: 4px;
  }
  .footer-contato li {
    font-size: 24px;
  }
}
