.cabecalho {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}
.header-menu {
  gap: 50px;
  padding-right: 20px;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: black;
  transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .cabecalho {
    flex-direction: column;
    gap: 1rem;
  }

  .header-menu {
    gap: 10px;
  }

  .header-menu a {
    display: flex;
    padding: 0px 4px;

    font-size: 1rem;
    border-radius: 4px;
    text-decoration: underline;
  }
}
